@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-SemiBold.ttf) format("trueType");
    font-style: Bold;
    font-weight: 600;
}

@font-face {
    font-family: DotGothic;
    src: url(../fonts/DotGothic16-Regular.ttf) format("trueType");
    font-style: normal;
}

body {
    background-color: rgba(3, 25, 35, 1);
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Gilroy';
    font: inherit;
    vertical-align: baseline;
    outline: none;
    user-select: none;
}

ul, a{
    font-family: 'Gilroy';
    text-decoration: none;
    color: white;
    list-style-type: none;
    font-size: 18px;
}
.navbar {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    text-decoration: none;
    display: inline-block;
    margin-right: 48px;
}

.menu li:last-child {
    margin-right: 0;
}

.active a {
    font-weight: 600;
    font-size: 22px;
    color: rgba(0, 255, 163, 1);
}

.hero{
    height: 802px;
    position: relative;
    padding-bottom: 38px;
}

.rectangle{
    position: absolute;
    content: ' ';
    height: 945px;
    width: 100%;
    top: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #031923 0%, rgba(0, 0, 0, 0) 8.39%, rgba(0, 0, 0, 0) 57.87%, #031923 65.16%, #031923 100%), radial-gradient(50% 50% at 50% 50%, rgba(3, 25, 35, 0.1) 0%, rgba(3, 25, 35, 0.4) 100%);
}

.title-img{
    width: 100%;
    height: 675px;
}

.hero .center-text{
    text-align: center;
    position: relative;
    z-index: 4;
    bottom: 100px;
}

.hero h1{
    font-family: 'DotGothic';
    font-size: 58px;
    letter-spacing: -0.25em;
    line-height: 43.98px;
}

.hero p{
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 34px;

}

button {
    background: linear-gradient(180deg, #00D8A4 0%, #009470 100%);
    box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
    border-radius: 20px 1px;
    width: 286px;
    height: 59px;
    margin: auto;
}

.hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../web_task/images/hero-dots.png), url(../images/vectors.svg), url(../images/blurVectors.svg);
    top: 0;
}

.section-title{
    position: relative;
    display: flex;
    z-index: 4;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.section-title .line-text{
    display: flex;
    align-items: baseline;
}

.section-title hr{
    width: 219px;
    height: 0px;
    top: 2px;
    border: 2px solid #FFFFFF;
}

.section-title h2{
    font-size: 144px;
    line-height: 29px;
    font-family: 'DotGothic';
    opacity: 0.1;
}

.section-title h6{
    font-size: 18px;
    letter-spacing: 0.25em;
    opacity: 0.7;
    padding: 5px;
}

.section-title h4{
    font-family: 'DotGothic';
    font-size: 58px;
    letter-spacing: -0.25em;
    padding: 10px;
}

.carts ul{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-flow: row nowrap;
}

.carts img{
    width: 100%;
}
.cart1, .cart3{
    width: 30%;
}

.cart1 figcaption, .cart3 figcaption{
    text-align: center;
    position: relative;
    bottom: 50px;
}

.cart2{
    text-align: right;
    width: 50%;
}

.cart2 figcaption{
    position: relative;
    width: 90%;
    margin-top: -150px;
}

.carts h3{
    font-family: 'DotGothic';
    letter-spacing: -0.25em;
    font-size: 36px;
}

.cart2 p{
    font-size: 17px;
    opacity: 0.8;
}

.cart2 h5{
    font-size: 24px;
}

.booking{
    background-image: url(../images/booking-background.png), url(../images/booking-background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 578px;
}

.booking button{
    display: block;
    
}

.booking .booking-info
{
    display: flex;
    position: absolute;

}

.booking .text{
    padding: 0 100px;
}

.booking .booking-info h5{
    font-size: 40px;
    margin-right: 120px;
    margin-bottom: 0;
    margin-top: 0;
    color: #00FFA3;
}

.booking .booking-info p{
    font-size: 17px;
    line-height: 20px;
}

.list-features ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-features li{
    max-width: 537px;
    display: flex;
    border: 1px solid #00FFA3;
    border-radius: 20px;
    margin: 20px;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.contact-info img{
    position: relative;
    margin-top: -200px;
}

footer{
    background: url(../images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .navbar{
    padding-top: 100px;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

footer > p{
    padding: 0 100px;
}

.copyright p{
    color: rgba(0, 255, 163, 1);
}

.social ul{
    display: flex;
}