@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-SemiBold.ttf) format("trueType");
    font-style: Bold;
    font-weight: 600;
}

@font-face {
    font-family: DotGothic;
    src: url(../fonts/DotGothic16-Regular.ttf) format("trueType");
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: rgba(3, 25, 35, 1);
    color: white;
    font-family: 'Gilroy';

}

.container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.logo-img {
    max-height: 93px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    width: fit-content;
    margin-right: 48px;
    font-size: 18px;
}

.active a {
    font-weight: 600;
    font-size: 22px;
    color: rgba(0, 255, 163, 1);
}

.section-hero {
    position: relative;
    text-align: center;
}

.section-hero h1 {
    font-family: 'DotGothic';
    position: relative;
    font-size: 58px;
    letter-spacing: -0.25em;
}

.section-hero p {
    font-size: 17px;
    margin: 20px 0 50px 0;
}

.button {
    background: linear-gradient(180deg, #00D8A4 0%, #009470 100%);
    box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
    border-radius: 20px 1px;
    padding: 16px 61px;
    margin-bottom: 54px;
}

.section-hero-img {
    width: 100%;
    height: 675px;
}

.section-hero::after {
    background-image: url(../web_task/images/hero-dots.png), url(../images/vectors.svg), url(../images/blurVectors.svg);
    content: '';
    position: absolute;
    width: 100%;
    height: 1180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.rectangle {
    background: linear-gradient(180deg, #031923 0%, rgba(0, 0, 0, 0) 8.39%, rgba(0, 0, 0, 0) 57.87%, #031923 65.16%, #031923 100%), radial-gradient(50% 50% at 50% 50%, rgba(3, 25, 35, 0.1) 0%, rgba(3, 25, 35, 0.4) 100%);
    height: 945px;
    width: 100%;
    top: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.hero-title-text{
    position: relative;
    bottom: 80px;
    z-index: 2;
}

.sections-title{
    margin-top: 30px;
    position: relative;
    display: flex;
    z-index: 4;
    align-items: center;
    justify-content: space-between;
}

.sections-title .line-text{
    display: flex;
    align-items: baseline;
}

.sections-title hr{
    position: relative;
    margin: 0 10px;
    width: 219px;
    height: 0px;
    top: 2px;
    border: 2px solid #FFFFFF;
}

.sections-title h2{
    font-size: 144px;
    line-height: 29px;
    font-family: 'DotGothic';
    opacity: 0.1;
}

.sections-title .line-small-text{
    font-size: 18px;
    letter-spacing: 0.25em;
    opacity: 0.7;
}

.sections-title .line-big-text{
    font-family: 'DotGothic';
    font-size: 58px;
    letter-spacing: -0.25em;
}

.section-carts-list{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

.section-carts-item{
    text-align: center;
}

.section-carts-item figcaption{
    position: relative;
    bottom: 50px;
}

.item-center{
    position: relative;
    text-align: right;
}

.item-center img{
    position: relative;
    max-width: 830px;
    z-index: 3;
}

.item-center figcaption{
    position: relative;
    margin-top:-100px;
    margin-bottom: 70px;
    right: 100px;
}

.item-center figcaption p{
    font-size: 17px;
    font-weight: 400;
    margin-top: 23px;
}

.item-center figcaption span{
    font-size: 24px;

}

.section-carts-item h3{
    font-family: 'DotGothic';
    font-size: 36px;
    letter-spacing: -0.25em;
    line-height: 52px;
    margin-bottom: 23px;
}

.section-carts{
    position: relative;
    z-index: 2;
}

.section-carts::after{
    background-image: url(../images/carts-vectors.png);
    opacity: 0.05;
    content: '';
    position: absolute;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    top: 100px;
    right: 0;
    z-index: 0;
}

.section-booking{
    padding-top: 20px;
    position: relative;
    background-image: linear-gradient(180deg, #031923 0%, rgba(3, 25, 35, 0.561921) 20.89%, rgba(3, 25, 35, 0.561921) 77.66%, #031923 100%), url(../images/booking-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-booking-info{
    display: flex;
}

.booking-info-button{
    text-align: center;
}

.section-booking-text p{
    font-size: 17px;
    letter-spacing: 0.05em;
    margin-top: 33px;
}

.booking-info-button .button{
    position: relative;
    bottom: 200px;
}

.booking-info-button .booking-big-text{
    color: #00FFA3;
    font-size: 40px;
    text-align: left;
    width: fit-content;
}

.lenghts{
    margin-right: 100px;
    margin-bottom: 167px;
}

.section-booking::after{
    background: url(../images/booking-vectors.png);
    content: '';
    position: absolute;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 30px;
    left: -20px;
}

.section-booking .container{
    z-index: 2;
}

.list-features ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.list-features li{
    max-width: 537px;
    display: flex;
    border: 1px solid #00FFA3;
    border-radius: 20px;
    margin: 20px;
    padding: 37px 37px 45px 37px;
}

.feature-list-heading{
    font-size: 29px;
    margin-bottom: 21px;
}

.contact-info{
    display: flex;
    justify-content: space-between;
}

.feature-list-info{
    opacity: 0.5;
}

.iframe{
    width: 874px;
    height: 411px; 
    border: 0;
    border-radius: 16px;
    position: relative;
    margin-top: -100px;
}

footer{
    background: url(../images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 95px;
}

footer .menu{
    padding-top: 100px;
}

.copyright{
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}

.copyright p{
    color: rgba(0, 255, 163, 1);
}

.social ul{
    display: flex;
}

.text-info p, .text-info a{
    font-size: 18px;
    padding: 20px 0px;
    line-height: 21px;
}

.text-info::first-line{
    color: #00FFA3;
}

.text-info .button{
    display: block;
    margin-top: 37px;
    width: 286px;
    text-align: center;
}

.social-list li{
    margin-right: 36px;
}

footer .container > p{
    opacity: 0.6;
}